[2022-06-18 15:22] marc-gist opened #3 "Comments / Suggestions"
Thanks for this! Very well laid out and commented.

A suggestion for your "HUE API V2" function, changing to this can make setup for a new user faster:
[code]

It would also be great to have an example flow to get the current state of a group/light like:
[code]

![image](https://user-images.githubusercontent.com/4084427/174445121-ff8fce9b-3ece-42fd-b381-3571e660ce31.png)

Would also need to add ho

[2022-06-18 16:05] andesse commented on #3
@marc-gist thanks for the suggestion, I added the two nodes to the repository.
Thanks for the thing with the RID, the description in the Room change node was not correct. The RID need to be added, the text said ID. I changed that.

[2022-06-18 16:05] #3 closed

[2022-06-18 17:32] marc-gist opened #4 "Helper Functions for finding RID/ID of things"
I created some function nodes that parse the data from your great Bridge Data buttons to make things easier to find/see.

[code]

You are welcome to integrate this into yours.

[2022-06-18 18:19] andesse commented on #4
Wow, this is cool, well done! This is very handy :)
Will add it right now

[2022-06-18 18:24] andesse commented on #4
@marc-gist i mention you with a label in the flow

[2022-06-18 18:52] andesse commented on #4
@marc-gist i personally think this is so much better than using a contrib for hue, right?
Its directly based on the api documentation, so there wont be an issue ever

[2022-06-18 19:39] marc-gist commented on #4
Thanks... and Until they make changes to the API.  I do love that contrib as it did make it easy, but its been so unstable for the past 6 months :(

[2022-06-18 19:46] andesse commented on #4
They won’t, they are just setting it up and it’s still not feature ready. Pretty sure it will be like that for a couple of years. They just launched cloud control for clip api.

[2022-06-18 22:43] schweighart commented on #4
There is an edge case where the script is not working correct. When there is a room in hue without anything assigned the script crashes with the following message: "TypeError: Cannot read properties of undefined (reading 'rid')"
I can see in the data that the 'services' array is empty in the returned data, but the script always expects it to be filled.

[2022-06-19 01:30] marc-gist commented on #4
correct, I did not put any error correction/checking the scripts.  One can't have a room without lights (and why would you? :P ;) )
You can update the script to this should fix that, or delete the empty room from Hue app.
[code]

[2022-06-19 08:27] andesse commented on #4
@marc-gist @schweighart ok, cool. I’ll change this later.
Additionally to this I add zones. These work with with code too. And I will add stored context for all types. Probably I am able to change the function node to discover motion sensors, this would be a good add. Thanks for participating, making this better.

[2022-06-19 10:28] andesse commented on #4
@marc-gist zones are working fine, I also made an automation, that outputs rooms / zones / and 2 array scenes corespondent to rooms and scenes :)

i am struggling to change the code for buttons and sensors. Still trying. **Maybe you can help?**

The functions you made a ducking awesome. This makes it so easy. I am about to make a whole new area in the flow, so that the ID discovery get very easy.

[2022-06-19 12:49] marc-gist commented on #4
I'll take a look at buttons and sensors soon and get back to you.

[2022-06-19 13:09] andesse commented on #4
@marc-gist

in the stored content the rooms are one object. The scenes / lights are arrays, that need to be unfolded (0...9) can you make an array out of the rooms data? I am working on an automation, that asks for all datapoints and afterwards you can request them.
![content](https://user-images.githubusercontent.com/76150626/174482555-c3a423e7-a15c-442e-bcbc-7cdb6e82a504.PNG)

[2022-06-19 13:18] marc-gist commented on #4
the rooms are an object as I'm doing them in Key->value pairing, so that the next script can look up the room names easily.

similar to what i'm doing here for the device names (need to create a new button at your top section to call endpoint `device`, and fix your endpoint `button ` which has a space at the end.
once you have run the Device one, you can then run buttons.

[code]

[2022-06-19 13:21] andesse commented on #4
@marc-gist i figured it out how to change the code. wait a little bit with that. i finish the automation. motion and button are more important.

[2022-06-19 13:22] andesse commented on #4
@marc-gist oh, these were in the code. thanks! ill setup my automation and share it here later

[2022-06-19 13:44] marc-gist commented on #4
yes, and here is the last one for motion: (it also relies on the Devices routine to be run first).
[code]

The other thing i'm working on is keeping a global variable with each rooms on/off state, so that doing automations based upon if the lights are on or off are easier, as well as to toggle lights.  However, this appears to be a very manual thing. I can share what I have if you want to see it.

[2022-06-19 14:31] andesse commented on #4
@marc-gist

I am using global var like that.

i would leave it to the users how they use it. If we share that it need to be on memory and not default.
Maybe some of them having their default on file, the SD Card of their Raspberry, It would destroy the card more quick.

But this will probably lead to a lot of question how to use it. Better this repository just explains everything how to interact w

[2022-06-19 14:43] marc-gist commented on #4
@andesse good point on SD card if someone is using that to store context... I can't remember if I am, as typically doesn't matter to me (not on SD card, and I try to always build up my context variables on NR startup just to be sure when NR restarts it has all it needs :) ).

[2022-06-19 17:58] andesse commented on #4
@marc-gist my wife got me for some hours, lol. i think this is a nice solution for your function nodes

`[{"id":"7a14643a.75260c","type":"subflow","name":"Splitter","info":"","category":"","in":[{"x":540,"y":300,"wires":[{"id":"273108cc.4b9928"}]}],"out":[{"x":1140,"y":300,"wires":[{"id":"a7524f72.576f3","port":0},{"id":"3d746554.ddcffa","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"273108cc.4b9

[2022-06-19 18:38] marc-gist commented on #4
@andesse looks great... cleaned up nicely.  may want to place in a code block :P :D

[2022-06-19 18:45] andesse commented on #4
@marc-gist hahaha. Thanks for your help!

[2022-06-19 20:51] schweighart commented on #4
@marc-gist @andesse Thanks, you are awesome fast.

[2022-06-19 20:55] andesse commented on #4
@schweighart haha thanks!
I am married and I know the struggle when the smart-lights are not working and want to help others to get out of similar situations AAAASAP ;)

[2022-06-21 22:05] andesse commented on #4
Closing it for now, might to re-open for further ideas

[2022-06-24 15:07] andesse commented on #4
@marc-gist hey friend, I have a problem with a function. Pretty sure you know the answer. :)

I want to have a NOT operator, but node red denies me to write it like this (it doesn't like the extension marks, what should be a NOT as I researched it).
Do you know what is wrong? Thanks in advance.

if      (
        denon.power === "ZMON" &&
        denon.state === "SSINFAISFSV 441" &&
        denon.

[2022-07-14 13:51] andesse commented on #4
@marc-gist  OFF-TOPIC

I changed my Node Red System to another platform. The old system let me easy configure with a drop-down Menue the path for the stored context saved to file on a mounted usb Stick.

Running NodeRed now directly on a Tinkerboard, I recognize that the context is only stored in memory by default and the system.js need to be edited to have the option for localfilesystem stored co

[2022-07-14 14:50] andesse commented on #4
@marc-gist dope!
Thanks friend :)

[2022-07-26 07:18] msmthng opened #9 "using environment variables for the api config"
it would be easier to setup the api v2 nodes if you use env vars instead of editing data in each node:

var user = env.get('hue-application-key');

if(msg.endpoint === undefined)
 msg.url = "https://"+env.get('hue-bridge-ip')+"/clip/v2/resource";
else if(msg.topic === undefined)
 msg.url = "https:/"+env.get('hue-bridge-ip')+"/clip/v2/resource/" + msg.endpoint;
else
 msg.url = "https://"+env.get('h

[2022-07-26 07:31] andesse commented on #9
@msmthng please share a small sample flow. I’ll check It out. Not sure what information I need to enter there.

[2022-07-26 07:38] andesse commented on #9
@msmthng ok, got it working, won’t use it for my flow.
That’s the request to get all data from the bridge. I make it separate on the helper flow, so you can just get scenes / lights / devices in groups. Not so much effort to search for data. The data is also stored in context (default) so you have access for it. Having this huge array waste too much time with searching. Try my system.
inject „scen

[2022-07-26 07:39] andesse commented on #9
@msmthng read inside the white labels

[2022-07-26 09:28] andesse commented on #9
@msmthng my Flow Outputs scenes like this. You don’t need to unfold the huge array
![IMG_2434](https://user-images.githubusercontent.com/76150626/180973548-42064f0f-77ef-44df-853e-ec9385076527.jpeg)

[2022-07-27 06:54] msmthng commented on #9
do you know how i can set the color for a grouped_light and query for that?

[2022-07-27 08:24] andesse commented on #9
@msmthng its the same like setting it for a light, just change the endpoint to grouped_light.

the easiest way to get the exact color you desire is to set it in the hue app, and watch the event flow.
the last message published by the bridge, contains the color code (it is the last one, cause in between the bridge will send the colors from the transition)

[2022-07-28 08:20] msmthng commented on #9
@andesse do you know how exactly the dynamics on changing the brightness is working:

{“dynamics”:{“duration”:1000},“dimming_delta”:{“action”:“up”,“brightness_delta”:10}}

this changes exaclty one time with 10, if i change to 100 it changes faster then set in duration to full light.

i would expect that i can start a transition with a given time and stop it with action stop before the end of trans

[2022-07-28 08:36] andesse commented on #9
@msmthng Good Morning :)
https://github.com/andesse/hue-clip-api.node-red-flows/blob/main/Change%20Node%20Examples.json
In my Flow are sample nodes where the time / brightness just need to be adjusted.

But I setup 2 Nodes just 10 Minutes ago if I can reproduce this.
One node has 10% brightness and 3000ms dynamics (N1)
Second node has 100% brightness and 1000ms dynamics (N2)

I setup my flow that

[2022-07-28 08:41] andesse commented on #9
@msmthng
![IMG_2477](https://user-images.githubusercontent.com/76150626/181461966-6b9ee95d-bd30-428c-a1a1-c3a75e75d175.jpeg)

[2022-07-28 08:46] msmthng commented on #9
I have an account i was using the api reference, since i didn't got an answer on my question in der forum i pointed my questio to you as well. since i have recognized that you are very fast in answering. thx

[2022-07-28 08:50] andesse commented on #9
@msmthng when keeping all small issues at the side, that you will resolve very quick…

Ary you happy with this kind of setup? Being independent.

Yadomi just made small changes recently, to avoid disconnecting from the bride. It appears when for a longer timespan no events are posted. I never had a problem cause I have lots of sensors sending data frequently.
so this setup should be completely str

[2022-07-28 08:50] msmthng commented on #9
the second example in your link (Dimming 10% down / 1s transition) is dimming down ones by 10% once - is there a way to initiate a dimming down process with 10% per second?

[2022-07-28 08:53] msmthng commented on #9
overall iam happy with this setup. struggeling a little bit with dynamic stransitions ( for dimming down and up). in past i have implemented this with the delay node and using some flow vars. looking at the api i thought i can exchange that with this dynamics in the api during the refactoring process to make this more simple

[2022-07-28 09:02] msmthng commented on #9
you don't have any issues with duration? for me it doesn't get slower if i set 2000 or 4000 ms.

[2022-07-28 09:38] andesse commented on #9
@msmthng you need to calculate your dimming time.
10% per second? For how long?

example: light is at 100% you want to dim it down to 20% in 10% steps
100-20 is 80 = 8000ms dynamics duration and dimming value would be 10

then it would take 8 seconds in 10% steps to go from 100 to 20
Is that what you mean? :)

[2022-07-28 09:42] andesse commented on #9
@msmthng this works completely fin
![IMG_2478](https://user-images.githubusercontent.com/76150626/181475046-6fbf8a78-484f-4a59-a0bc-146b22c226e2.jpeg)
e

[2022-07-28 10:44] msmthng commented on #9
![image](https://user-images.githubusercontent.com/40269445/181486273-5da60107-584c-4f6f-8b2b-1be49a2446e7.png)

![image](https://user-images.githubusercontent.com/40269445/181486391-a2cbffe4-a432-4694-91ff-eb9c6400a1a2.png)

![image](https://user-images.githubusercontent.com/40269445/181487102-69bfc05c-3bea-4230-b707-8515e43fd422.png)

no idea why

[2022-07-28 11:18] andesse commented on #9
@msmthng dont get it 32 to 15 are 17 seconds.
why is your time not in sync?
You inject at 12:xx:xx ish and get a creation time with 10:xx:xx back. How come?

Check the time servers for bridge and NodeRed system, or if NR is in a container, the main system running it.
Maybe that’s the problem. API says durations of 21600000ms work. I tried some with 60000ms and it worked.

Are you using not origina

[2022-07-28 11:34] andesse commented on #9
@msmthng wait… you send this to a group? That might not work. Check the api documentation. For a group they just vaguely say „time for….“ the high times just count for lights and not grouped_lights endpoints.

i think that’s your problem. How many lights are in this group? Trigger them as lights one after the other with 500ms delay for the command injection to achieve a group effect

[2022-07-28 11:59] msmthng commented on #9
![image](https://user-images.githubusercontent.com/40269445/181499485-316e65ac-4bcd-4b7a-ac8a-9bee29b8013d.png)
the same using a ight - the "effect" is done by the bulb or the bridge?

[2022-07-28 12:15] andesse commented on #9
@msmthng ok, my time is off as well by two hours. Then that’s not the problem.
in my understanding it is like this.
- you send the parameters via https to the bridge
- The Bridge sends these parameters to the device via Zigbee
- The device itself runs the effect by itself. That’s the reason that another parameter send from the bridge overwrites it.
- in between the lamp / device sends all changes

[2022-07-28 12:16] andesse commented on #9
@msmthng can you explain what effect you want to achieve?
Maybe you need to use the sunset effect

[2022-07-29 08:21] msmthng commented on #9
![image](https://user-images.githubusercontent.com/40269445/181716384-f8f25800-bb1d-4875-bd1a-7ceb23f3e576.png)
maybe it is an issue of ikea bulbs and dimming i had to do it this way.
trigger dimming up and down triggered by some conditions.

[2022-07-29 08:26] andesse commented on #9
@msmthng thats what I asked earlier „ Are you using not original brand hue Controlers/lamps?“

only original HUE lamps offer the full features. That’s the reason HUE is more expensive.

[2022-07-29 09:03] msmthng commented on #9
@andesse sorry didn't see that question. but now my setup is much more stable. I think it is really much more straight forward to use the rest API directly.

[2022-07-29 09:07] andesse commented on #9
@msmthng here

[2022-07-29 09:59] andesse commented on #9
@msmthng
I close the issue

[2022-07-29 09:59] #9 closed

[2022-08-09 14:53] Puntoboy opened #15 "Can't enable motion from flow"
**Describe the bug**
I have a flow that disables the motion sensor for 10 minutes, then enables it again. I'm migrating from Hue Magic. When I run the flow, the motion disables but after the timeout, it doesn't come back on.

**To Reproduce**
Steps to reproduce the behavior:

`[{"id":"c13967da.3c8eb","type":"api-call-service","z":"95e7528c.dd36c","name":"Hallway Lights On","server":"7741cb1d.3b20c

[2022-08-09 15:07] andesse commented on #15
Hey,

what is this? You are using nodes that are not part of my flow example.

Use my example,  deactivate the sensor, use a delay node for the time you need and activate it again.
There is a description in the labels of my flow how sensor enable and disable api calls work.

I can’t help with your setup.

![IMG_2514](https://user-images.githubusercontent.com/76150626/183686847-262f6b31-f8f8-486c-8

[2022-08-09 15:09] Puntoboy commented on #15
There are two lights which aren't in Hue, I use Home Assistant.

![image](https://user-images.githubusercontent.com/11718878/183687301-4c05a9af-ce56-4bb8-982f-825a078cd3cb.png)

[2022-08-09 15:13] andesse commented on #15
Is your wish that the lower cat litter time disable - and the top one enable the sensor

[2022-08-09 15:17] andesse commented on #15
And http request for sensors looks like that:
![IMG_2516](https://user-images.githubusercontent.com/76150626/183688544-ac3b4cf1-ade1-472a-bbb0-826c22601ea6.jpeg)
![IMG_2517](https://user-images.githubusercontent.com/76150626/183688595-8024ea40-f91d-49ce-ad05-f0e217fc5209.jpeg)

 one change node contains the data for enabling it, the other one for disable it.
 both go into the header and the http r

[2022-08-09 15:19] Puntoboy commented on #15
If I manually click the timestamp nodes here, the sensor enables and disables as I expect. IT seems to be and issue with the links between my flow and your flow. I've probably done something wrong.

![image](https://user-images.githubusercontent.com/11718878/183689276-7d2f8b7d-bcba-4bfe-8f70-3fc7efeae16e.png)

[2022-08-09 15:21] andesse commented on #15
When it works with the inject nodes everything is fine. You probably linked it not correct.
i am closing the issue then.

[2022-08-09 15:21] #15 closed

[2022-08-09 15:21] Puntoboy commented on #15
Enabled

![image](https://user-images.githubusercontent.com/11718878/183689646-34aab8ef-b7dd-42e6-97ae-881c13961e2c.png)

Disabled

![image](https://user-images.githubusercontent.com/11718878/183689720-a0f15ea2-0856-411f-8dc8-ef81c6cd6412.png)

[2022-08-09 15:30] andesse commented on #15
@Puntoboy check if your link out are correctly connected to the link in nodes.
Gives them a name as recommended in the readme. Otherwise it’s too confusing

[2022-08-09 15:32] Puntoboy commented on #15
The link node is named.

![image](https://user-images.githubusercontent.com/11718878/183693971-51b373c4-06f0-4bb9-859e-3b697b82afe6.png)

[2022-08-09 15:47] andesse commented on #15
Where comes this timeout from?
You can’t make too much api calls at once. Please read the readme. You are the first with this problem. It seems to be in your flow.

Debug everything and try to find the error

[2022-08-09 15:59] Puntoboy commented on #15
As I test, I'm linking directly HTTP request. Same issue. This is my only API call at the moment as I'm just setting it up.

![image](https://user-images.githubusercontent.com/11718878/183700840-edda3006-f3cb-4418-b4fc-0f842769fd42.png)

![image](https://user-images.githubusercontent.com/11718878/183700891-b9e83829-ddf2-495d-9411-a52bb7b4146b.png)

[2022-08-09 15:59] Puntoboy commented on #15
I'm not saying it's a bug with this setup, I've likely done something wrong, but I can't see what it is.

[2022-08-09 16:03] andesse commented on #15
I can see it now. Use a 10 second delay node instead of the trigger node.

[2022-08-09 16:08] Puntoboy commented on #15
Still seeing the JSON parse error.

![image](https://user-images.githubusercontent.com/11718878/183702348-fec72abd-04fd-47a7-8f2e-9dece8374d08.png)

Neither the disable or enable are working consistently.

[2022-08-09 16:19] andesse commented on #15
Ok, debug the data before it reaches the change nodes. You probably need to delete all extra data that comes from your home assistant node. I am pretty sure now that it mess up the payload.

You can try it. Remove the home assistant node, and inject a Boolean true there at the position. If it works you msg is messed up by that node

[2022-08-09 16:27] andesse commented on #15
@Puntoboy what is events call service?

[2022-08-09 16:29] Puntoboy commented on #15
That listened to events from Home Assistant. The switch node after it, filters for a specific event, in this case when a specific script is run in HA.

[2022-08-09 16:30] andesse commented on #15
@Puntoboy ok… what event. Specific, maybe we find a workaround

[2022-08-09 16:31] Puntoboy commented on #15
![image](https://user-images.githubusercontent.com/11718878/183707164-9f1682bb-fb42-477d-948b-b827f164e835.png)

[2022-08-09 16:32] andesse commented on #15
@Puntoboy no, the home assistant node. What is the script for?
please debug (full msg object) what comes out of the home assistant node

[2022-08-31 22:31] Capusjon opened #24 "Fluid Dimming when holding keypress"
First of all, thank you for your work!
Have been puzzling an evening in Node red but most of my hue flows are now made with your flows. It's easy enough to implement, but I like to figure out what everything does so it takes a bit longer.

Only thing missing for me was a fluid dimming template. I haven't found that in any hue node on the web. I previously implemented it via the Hue V1 api but now

[2022-09-01 05:56] andesse commented on #24
Hi @Capusjon thanks for sharing your Idea and nice that it worked out. I know when importing that flow it looks a little
bit overwhelming, lol.

In fact the transition time counts from that brightness where you start from. When your lamp is at 80, your example would take 8 seconds from 80 to 100. As I understood your button sends true when pressing and a false when releasing.
For your Button this

[2022-09-01 11:45] Capusjon commented on #24
Hi @andesse,

no problem for me, I'm already glad that I could make it work (a bit) without to much hassle with your flows.
So add it or don't as you please. Mabey people looking for this specific feature will find it in the issues on Github so they can use this to get it working for them.

As to the dimming buttons;
It's not really special but I think most people using these switches use them dir

[2022-09-01 12:18] andesse commented on #24
@Capusjon ok, that makes sense. I’ll add this as an additional json package to download, with a new .x release an updated readme. Good thinking, it makes it more easy for people who doesn’t have an access to the API reverence. Thanks.

FYI:
To get all API informations, just create an account at HUE, they don’t ask why. :)
I am just not allowed to post it as a whole API Reference here completely.

[2022-09-01 12:41] Capusjon commented on #24
Yeah this method comes straight from the API reference, but I believe people are lazy and will not look that far :)
I was looking to get rid of HueMagic and just do it myself via the API and http nodes when I stumbled upon your Github flows.

Only thing is that the transition is not working as intended, so maybe I should fix that first before you add this as a separate flow?

[2022-09-01 12:59] andesse commented on #24
@Capusjon i already published, because it works fine for me when I try with inject nodes.
but if you have changes then reply here, I can change the file.

[2022-09-01 13:08] andesse commented on #24
@Capusjon and yes, i can’t believe how fucking lazy the HueMagic developer is. Unreal.
He did such a great work with the latest release, but zero reactions for issues?!?!
No thanks. I have a wife who want to turn the lights on and off….

[2022-09-01 13:51] Capusjon commented on #24
Yeah the HueMagic is an awesome node, guy did great work there. But some things are just broken and indeed the lights need to work :)

[2022-09-01 19:51] andesse commented on #24
@Capusjon before I am closing this, can you explain what didn’t worked as expected.
My test went well using Inject nodes

[2022-09-01 20:06] Capusjon commented on #24
@andesse

In fact the transition time counts from that brightness where you start from. When your lamp is at 80, your example would take 8 seconds from 80 to 100. As I understood your button sends true when pressing and a false when releasing.

This is what you said in the first post. I didn't check yet if this is the case.
What I think the Dim command should do is DIM from 0-100 in 8 seconds (or

[2022-09-01 20:19] andesse commented on #24
@Capusjon I think that can be done with a subflow, containing a switch, that is set into steps with 12.5 values (100/8=12.5), a variable for the brightness and 8 nodes with different transition times.

Explained:
-the input gets your true from pressing the button
- it hits a change node, that contains stored brightness from the light in context
- The value hits the switch node
- The switch node se

[2022-09-01 20:57] Capusjon commented on #24
I think that is an approach that could work. I'll try to get it running tomorrow or over the weekend.
Other option might be to do it in a function node, I'll try to work out the smoothest solution.

[2022-09-02 14:40] Capusjon commented on #24
This is what I came up with so far..

to use this correctly we need to determine if we are dimming up or down.
Haven't tested it yet in a working setting since I need to look at a way of getting the payload set as the transitiontime.

It does calculate the correct time left for dimming up or down.
Also it allows you to set the amount of milliseconds you want the total transition from 0 to 100 to t

[2022-09-02 17:44] andesse opened #25 "ALERT! DO NOT UPDATE YOUR BRIDGE!!"
Hue changed the data object on Firmware 1.53.1953188010

This is beta firmware in the moment I’m writing this, but you could also get a problem with the next FW!
Turn Auto Update off!

With this flow I am actually not able anymore to get status from light / grouped_light etc.

I try to figure out what happens, even the Id looks strange.

Old, functional firmware
![IMG_2606](https://user-images.git

[2022-09-02 18:11] andesse commented on #24
@Capusjon i can tell you directly. TURN BRIDE FIRMWARE UPDATE OFF!
I got a beta firmware today and can’t get any usable eventstream response out of it.
so better stay at your firmware for now.

I will delay this issue for a bit now, I need to have a look what happened
Ttyl Andreas

[2022-09-02 18:51] andesse commented on #25
Update:
What I found out so far. I figured out the reason why HUE is doing this.
Instead of fire a lot of different messages the new firmware combines it to one message with 4! data objects.
As k figure out so far, one for lights, one for dimming, one for group and a second group (what I have no idea what it is) Also the RID what was before used to be the number to filter the event is now used as

[2022-09-02 23:13] andesse commented on #25
I found a very ugly workaround. The updated API sends arrays up to 16 objects (in my case,see screenshot)
For the reason, that the rid/ ID cycles through the objects, this subflow will fillter up to 20 objects in the array,  you can add more if needed.
![light_event](https://user-images.githubusercontent.com/76150626/188245059-dd7a48c5-b4e0-4972-9403-ed4979006ad8.JPG)

Using this you will get a tr

[2022-09-03 08:22] Capusjon commented on #24
Just curious, what do you use the event evenstream for?

[2022-09-03 08:24] andesse commented on #24
It’s the orange node from yadomi.
The one that sends all status updates.
It’s the most important node in the flow

[2022-09-03 10:07] FredBlo commented on #24
@Capusjon , @andesse

*First, fyi, I also use(d) ***HUEMagic***... based on what it does and how extended the node-set is, I would not dare calling its owner a lazy guy :-)
It is however a pity the bugs are not corrected, mostly because solutions are there, only waiting for merging some pull requests and publishing those to npm :-(... If you are interested, you can deploy the 'temporary' fork I ma

[2022-09-03 10:13] andesse commented on #24
@FredBlo thanks!

Please have a look on the other issue.
The upcoming bridge firmware will change the data object for groups. I found a workaround.
One bridge is running on beta, where this change appeared.

[2022-09-03 10:55] andesse commented on #25
I found a better solution that I’ll test now. The data array will get splitted directly after the event flow node.
This means that there will be some changes in the switch nodes, cause they won’t search for payload.data.0.id anymore. Instead it will be payload.id

That means I will create a package now for people who need to update their existing flow, and a new version of the main flow.

@FredBlo

[2022-09-03 11:37] Capusjon commented on #24
@FredBlo

thanks for your response and suggestion. Thing is, I've already tried with +10 increments per X time. As I've explained earlier this tends to overload the bridge with commands. Also to get from 1 to 100 you would need to send 10 commands. With the dimming I suggested / am using it takes 2 commands. Dim up and stop is the only thing needed for this to work.

Only part I haven't tried yet

[2022-09-03 15:41] andesse commented on #25
New file created https://github.com/andesse/hue-clip-api.node-red-flows/blob/main/V3_receivers.json

[2022-09-03 15:41] #25 closed

[2022-09-03 15:41] andesse commented on #25
New Release

[2022-09-03 16:09] unclej84 opened #26 "Sample for new 4.3 converter with SSE_Event_Stream"
I did not use the events node but the SSE_Event_Stream. How to merge the new converter subflow to this flow? Maybe you could add an additional image or a short description? Or would this be working already?

[2022-09-03 16:24] andesse commented on #26
Hey @unclej84 you can see it on the screenshot, you just add it in between the output of the SSE Events (or the Hue Events node from yadomi) and the link out node that is connected to the receivers. When you import the flow it should be easy to understand, cause I connected the link nodes already there.

[2022-09-03 20:09] #26 closed

[2022-09-04 17:47] FredBlo commented on #24
I do not have my HUE bridge in such a version (and I do not upgrade to beta version either since this is my main (and sole) bridge, so difficult to judge / test.
But anyway, I would also consider splitting incoming arrays to usual single payload at the source...right after the @yadomi/node-red-contrib-philipshue-events or, even better, within the node itself. I did not take a look to it but this s

[2022-09-04 17:58] andesse commented on #24
@FredBlo thanks, i am glad to have one of my bridges on beta, that I can see what’s coming and create a fix for it, before they are rolling out to the public. That would be 1-2 days struggle with family again. Now everyone can prepare at least

[2022-09-05 15:05] Capusjon commented on #24
Made it work with the function node.

here are 2 ways to do it, might be possible to clean this up a bit but at least this works. I the way I intended.

So what does this do?
In the function node you can set your transitiontime for a dim from 1 to 100 (if you like it 5 seconds instead of 8 your put in 5000 at the milliseconds variable)
When dimming up or down the flow checks the current brightness

[2022-09-05 15:06] andesse commented on #24
@Capusjon ok, I’ll check it out tomorrow

[2022-09-05 18:14] FredBlo commented on #25
@andesse ,

Based on the bridge update you talked about, I spend a 'bit of time' to made a few checks & tests :

# HUE Bridge doc
HUE Bridge documentation is quite clear about what occurs here, as stated in [eventstream doc](https://developers.meethue.com/develop/hue-api-v2/core-concepts/#events) :

*"There is a 1 second rate limit on the amount of event containers the Bridge will send. If the sam

[2022-09-05 18:39] andesse commented on #25
@FredBlo I understand the concept in general, BUT on my old FW bridge I get a lot of status messages when I turn off (there came like 5-6 more then on this screenshot)
![IMG_2617](https://user-images.githubusercontent.com/76150626/188500636-8303e74f-7765-41c8-a49a-9710849c5e35.jpeg)

and the new firmware gives me one
![IMG_2616](https://user-images.githubusercontent.com/76150626/188500709-8f585d24

[2022-09-05 19:12] FredBlo commented on #25
Your previous explanations were clear about going for multiple messages to a single grouped one.

The function I posted / suggest is actually a splitter which will send 1 separate msg (flow) per .data element in the received array.
The result is the same as what you achieved in your subfow, only you keep the initial structure with payload containing '.data' which is an array of 1 single data objec

[2022-09-05 19:28] andesse commented on #25
Ok I understand now.
I am sure some people already updated their flows and it would be too confusing to change back probably.

If we keep the converter even Yadomi doesn’t need to change a thing.
i changed it to payload, cause the split node just split msg.payload correctly. Without changing it before the result have been random messages.

But I tried to edit the file in his contrib, restarted nod

[2022-09-05 19:48] andesse commented on #25
@FredBlo ok, i went back and used the function node now. so nobody need to update the receivers.
It is already online for now.

[2022-09-05 20:15] andesse commented on #24
@Capusjon i imported it, tried both. when i dim up, stop, down it works fine.
when i dim up, stop, dim up it went straight to 100%, same for down. can you reproduce?

[2022-09-05 20:44] andesse commented on #24
@Capusjon this was my first suggestion, a variabe and a switch.
This works awesome in my opinion. I am not a programmer, thats the reason my stuff always looks so ugly, but it works. I changed it to 10000ms, you can add you values

`[{"id":"99446aab894a48d4","type":"switch","z":"fe62da1.b2b0828","name":"up","property":"andist_bright","propertyType":"flow","rules":[{"t":"btwn","v":"0","vt":"num","v

[2022-09-05 21:22] andesse commented on #25
@FredBlo I will merge our two flows tomorrow and update the readme and remove the V2 prefix flow so that there is just one. I like the splitter function node, that should be the best approach for the array.
I’ll also add a 3 node flow to create the user token, I just tried it and it works fine and add some more change node examples for actions. Then it should be fine for a while.

I got recently s

[2022-09-06 07:31] FredBlo commented on #25
I was a bit too fast at analyzing '@yadomi/node-red-contrib-philipshue-events' node-set yesterday :-)
(I also looked at code on GitHub, not on deployed node-red, which is indeed a .js with some imports being different, but no change to code itself)

Since I do not have the issue (of .data array) myself, a bit complex to reproduce...
But I understood a bit better what -I think- is occurring.

The H

[2022-09-06 08:53] andesse commented on #25
@FredBlo hi, i reached out to the developers, waiting for reply. I really think that your function spllitter does a great job. In my opinion we should use that one. I started to merge the flows. Here is what i did so far, i want it as easy as possible to understand.

As I had never issues with the http request nodes, i added your approach as an alternative, cause I think that without the limiter t

[2022-09-06 08:59] andesse commented on #25
@FredBlo Forgot to mention:
as some users have multiple bridges, i think its more easy to add the data manually to the nodes, instead of setting the data with a Inject/change node. I also removed everthing with a link call, cause some users are not using the most recent NodeRed Version. That woulld cause a problem when importing.

[2022-09-06 17:03] FredBlo commented on #25
Hi @andesse

Happy to see you merged it as a new version :-)

I personally prefer having subflows only when they have added value (i.e. used multiple times and managed centrally), and I also like exploiting functionalities of latest versions when they work great, but I understand your point about supporting larger scope than node-red v3+.

Anyway, I just gave you some ideas / things I updated to m

[2022-09-06 18:01] andesse commented on #25
@FredBlo i am very happy to have someone that helps with some code knowledge. I just really have basic knowledge when it comes to functions, that’s the reason I use often several nodes and subflow them. :)

I hope that the repository is good for some time now.

There is some contrib very popular in Germany, it’s called RedMatic (I was using it as well). I am pretty sure >1000 people use it. It’s a

[2022-09-06 18:29] Capusjon commented on #24
@andesse I tried with both of my dimmers currently configured with my function, both work as intended. If : "dim up -> stop -> dim up -> stop" it works on both dimmers for up and down. There's no straight to 100 or straight to 0 when doing a dim -stop - dim - stop. If you don't issue a stop it will dim up to 100 or down to 0, but that is how it should work.

So I'm not sure where it goes wrong for

[2022-09-06 18:43] andesse commented on #24
@Capusjon Hi Colin, I only tested it with inject nodes. The lamp was direct next to me at my desk. Situation: probably 20% dim up, after 1 second stop, dim up, 100% without any transition time.

I have Beta firmware on that bridge. It’s a firmware for presence mimicking, maybe I should blame the firmware when it’s working for you fine :)

can you please do one test with a single lamp and inject no

[2022-09-06 18:53] Capusjon commented on #24
@andesse I must agree with you. I tought I already deployed the function but I did not. Now I did and I can confirm what you say is true.

I must investigate why this is, only thing I see is I get a lot of parse errors on the bridge..

[2022-09-06 19:03] andesse commented on #24
@Capusjon No need to worry. Otherwise we use my unprofessional flow with 5% steps and subflow it, so it looks nice :)

[2022-09-06 19:14] Capusjon commented on #24
I see what happens here, but I'm not sure what to do about it...
Let me explain:
when sending the dimcommand the bridge is assuming we are going to dim to 0. When sending stop the bridge stops the dimming proces at the current lightlevel. The bridge needs time to get the new state of the lightbulb, If you try to get the state of the light from the bridge within this timeframe it's getting a 100 or

[2022-09-06 19:31] andesse commented on #24
@Capusjon idea: try my approach and use instead the dimming delta, brightness and dynamics. You can still try to stop that process with dimming delta stop. Never tried that.
My flow worked actually not too bad, maybe you can live with that one.

[2022-09-07 21:33] andesse commented on #25
@FredBlo i just realized that the grouping frame is also a NodeRed 3.x thing? I think I should remove it

[2022-09-08 07:01] FredBlo commented on #25
@andesse ,

So Tinkerboard does not allow you running node-red v3 ?
I am using the docker version of node-red, which enables to keep latest version runnign very easily (and also having multiple versions / dockers running in parallel for test & debug :-P )

About groups, as far as I remember, I always used such. It certainly existed already in 2.0.x (I checked in my flow backups from then) and mayb

[2022-09-08 07:09] andesse commented on #25
@FredBlo Hi, the Tinkerboard can run all Versions. I think it’s the most decent SBC available, it comes with an emcc.
My thoughts were again users running old Versions. The flow should be simple as possible.

When you’re using it that long I trust what you say. I’m using node Red since version 2.?

Very impressed by your knowledge, haha

Andreas

[2022-09-11 12:06] DaelDe opened #27 "TypeError on Step 7 of the flow"
**Describe the bug**
I did all steps of the install instructions. Then I added a single light id to one of the nodes in step 7 and deployed.
When I now inject the timestamp to that node, the light properly changes but I get an error in the log:
`TypeError: Cannot read properties of undefined (reading 'name')` .
It originates from function node `Light Name, ID, Abilities`.

I did some further debug

[2022-09-11 12:56] andesse commented on #27
Hi @DaelDe,

- Which of the change nodes did you use? Some of them having properties for ambient white or colored lamps. If you Inject the request to a light endpoint that has not the properties for this, you will get an error. You need to change / Remote these values in the Code for your setup.

- you are the first one having a problem with the nodes, I just checked the first Node (light on / ora

[2022-09-11 13:01] andesse commented on #27
@DaelDe
And the Flow does not need any response, you are talking directly with the Bridge.
Please try to trigger a scene as well and have a look if you get any errors. scenes are the easiest.

[2022-09-11 13:06] andesse commented on #24
@Capusjon already a couple of days passed, could you Figure something out?

[2022-09-11 13:33] DaelDe commented on #27
Thanks for your reply.

I used the "light on / orange / 1s Transition" change node.

Everything with respect to the hue API is working correctly I think, the light is changing. However, the issue comes from the API response. The link in node "BRIDGE DATA RESPONSE IN" collects the result and sends it to change noce `Light Name, ID, Abilities`.
Bit this node expects a response from a "GET" call to t

[2022-09-11 13:49] andesse commented on #27
@DaelDe i think you mixed something up.

On the picture (red square) is the debug message from the https request node (yellowish) I can tell cause it shows the status code. 200 means everything fine.

The function node is only for the request of the IDs/Rids. They have a label in the flow that nothing need to be changed.

The error message itself comes out of the node that determines the data for

[2022-09-11 13:57] DaelDe commented on #27
I did not change anything on the flow but I understand it quite good so I can make my adaptions.

you said:

However, it is directly wired to the API output, so it reacts on any API call and not only request of IDs/RIDs.

![grafik](https://user-images.githubusercontent.com/18593867/189531419-df516bf0-ccaf-442c-8508-98ade8771e7c.png)

[2022-09-11 14:04] DaelDe commented on #27
I will decouple ID/RID detection from other API calls and it should be fine

[2022-09-11 14:13] andesse commented on #27
@DaelDe yes you are right with the output, I have just my phone on my hands and didn’t saw it correctly.

Yeah, you could do that, disable the link in node.

But I am still curious if you have a light setup with a special character in the name?
When you requested all data in the ID helper flow, did all the arrays showed up and did you got all your data?

I can’t actually explain why this problem h

[2022-09-11 14:19] DaelDe commented on #27
Thank you for your support.

I will migrate my setup from huemagic to direct API calls. MAybe I can contribute something useful when I am finished let's see.

[2022-09-11 14:19] #27 closed

[2022-09-11 14:31] andesse commented on #27
@DaelDe Thanks!

[2022-09-12 07:30] andesse commented on #24
@Capusjon closing this issue.
You are still very welcome to answer in the closed issue when you found a solution.

Andreas

[2022-09-12 07:30] #24 closed

[2022-09-12 09:00] Capusjon commented on #24
@andesse
I need to figure this out, but it will take some time. For now the first implementation was best and most easy to use. (My dimmers are configured that way)
When I have a lot of spare time I will take a look at it again.

Thanks!

[2022-10-06 05:57] andesse opened #32 "Feature request! Share your Ideas…"
Hive-Mind Idea collection!!

- are features missing that you like to have?
- did you struggle with anything, that should be better explained?
- do you think that something could be improved?

Just drop a comment and share your thoughts!

Greetings
Andreas

[2022-10-09 19:04] #32 closed

[2022-10-12 20:24] andesse opened #35 "Tester needed for Battery Level Subflow"
Hi,

i need testers for this subflow. It should output battery level and clear device name (like given in the app)
If you tested, please reply if it worked for you or not. Tag me in please, Thanks!

`[{"id":"96970f5963ff2da7","type":"subflow","name":"Battery_Levels","info":"","category":"","in":[{"x":140,"y":260,"wires":[{"id":"0f15762b3078c21c"},{"id":"f481a261c4321a39"},{"id":"10e848d2fb7a5deb"}

[2022-10-12 23:38] GeorgeCastanza commented on #35
It works well, but it's not picking up the buttons, which are also battery devices.

[2022-10-13 06:45] andesse commented on #35
That's strange, for me it's picking up everything. Can you debug it inside please?

One debug behind the buttons&devices function, the second debug behind the splitter that is connected to all the proof nodes. You can add more debugs if you like;)

I think the button are there, just get "lost" somewhere in the flow.

[2022-10-13 11:04] andesse commented on #35
More advanced flow with status for battery replacement

`[{"id":"96970f5963ff2da7","type":"subflow","name":"Battery_Levels","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"e522e85792068a1d"}]}],"out":[{"x":1480,"y":740,"wires":[{"id":"90dd158091977401","port":0}]},{"x":1580,"y":740,"wires":[{"id":"220b4c219a43afaf","port":0},{"id":"82ac0dbb0ab22adb","port":0}]}],"env":[{"name":"API-K

[2022-10-22 22:44] #35 closed